{% extends 'base_blog.html' %}

{% block title %}
  Посты
{% endblock %}

{% block content %}
  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h2 class="my-4">Последние посты</h2>

    {% for object in object_list %}
      <!-- Blog Post -->
      <div class="card mb-4">
        {% if object.image %}
          <img class="card-img-top" src="{{ object.get_image_absolute_url }}" alt="{{ object.title }}">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{ object.title }}</h2>
          <p class="card-text">{{ object.text|truncatechars:300|safe }}</p>
          <p>
            {% for tag in object.tags.all %}
              <a href="{% url 'posts-list' %}?tag={{ tag.title }}">#{{ tag.title }}</a>
            {% endfor %}
          </p>
          <a href="{% url 'posts-detail' object.slug %}" class="btn btn-primary">Читать далее &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{ object.created_at }}
        </div>
      </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Предыдущая</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="">&larr; Предыдущая</a>
        </li>
      {% endif %}

      {% for number in page_obj.paginator.page_range %}
        {% if page_obj.number == number %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ number }}">{{ number }}</a>
          </li>
        {% elif number > page_obj.number|add:-3 and number < page_obj.number|add:3 %}
          <li class="page-item">
            <a class="page-link" href="?page={{ number }}">{{ number }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая &rarr;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="">Следующая &rarr;</a>
        </li>
      {% endif %}
    </ul>

  </div>
{% endblock %}

{% block tags %}
  {% include 'blog/widget_tags.html' with tags=tags %}
{% endblock %}
